/*Light Theme*/
:root {
    --background-color: white;
    --text-color: black;
    --link-color: darkred;
}

body {
    font-family: "Arial Rounded MT Bold", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

main, header {
    padding: 0 1rem;
}

* {
    box-sizing: border-box;
}

a:focus, a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

